header 
  span#toggle-menu.fa.fa-bars
  nav#nav.nav
    ul#menu.menu
      li.menu__title Mantenimiento
      li: a.menu__link(href="reg_card.html") #[span.fa.fa-chalkboard-teacher.menu__icon] Registrar Tarjeta   
      li: a.menu__link(href="reg_asis.html") #[span.fa.fa-user-graduate.menu__icon] Crear Asistencia
      li: a.menu__link(href="asistencia.html") #[span.fa.fa-signature.menu__icon] Tomar Asistencia
