<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">  
  <title>Registrar Alumnos</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="../index.html" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a href="lista_alumnos.html" class="nav-link">Lista de Alumnos</a></li>            
      <li class="nav-item"><a class="nav-link" href="registrar_alumnos.html">Registrar Alumnos</a></li>
      <li class="nav-item"><a class="nav-link" href="registrar_tarjeta.html">Registrar Tarjeta</a></li>
      <li class="nav-item"><a class="nav-link" href="asistencia.html">Tomar Asistencia</a></li>
      <li class="nav-item"><a class="nav-link" href="#">...</a></li>
    </ul>
  </nav>
   <div class="d-flex mt-5 flex-column align-items-center">
      <form class="col-md-6">
          <h2 class="text-center mb-3">REGISTRAR ALUMNO</h2>
          <div class="alert" id="alert">
              Los datos deben estar completos
            </div>
          <div class="form-group">
            <label for="codigo_universitario">Código Universitario</label>
            <input type="text" class="form-control" id="codigo_universitario"placeholder="Ingrese código universitario">
          </div>
          <div class="form-group">
            <label for="nombres_alumno">Nombres</label>
            <input type="text" class="form-control" id="nombres_alumno" placeholder="Ingrese nombres">
          </div>
          <div class="form-group">
            <label for="apellidos_alumno">Apellidos</label>
            <input type="text" class="form-control" id="apellidos_alumno" placeholder="Ingrese apellidos">
          </div>
          <div class="form-group">
            <label for="curso">Curso</label>
            <select class="form-control" id="curso">
             <option value="">Seleccionar curso</option>
             <option value="Robotica">Robotica</option>
             <option value="Teleinformática II">Teleinformatica II</option>
            </select>
          </div>
          <button type="submit" id="registrar" class="btn btn-primary">REGISTRAR</button>
        </form>
   </div>
   <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
   <script src="../js/alumno.js"></script>
</body>
</html>